@use "../../../vars";

.kustomizationDetails {
  .title {
    margin-top: vars.$margin * 2;
    margin-bottom: vars.$margin;
  }
}

.kustomizationSubstitute {
  display: flex;

  :global(.TableCell) {
    &.key {
      flex-grow: 0.7;
    }

    &.value {
      flex-grow: 1.3;
    }
  }
}
