@use "../../../vars";

.HelmReleaseDetails {
  .title {
    margin-top: vars.$margin * 2;
    margin-bottom: vars.$margin;
  }
}

.HelmReleaseHistory {
  .TableCell {
    &.version {
      flex-grow: 0.5;
    }

    &.status {
      flex-grow: 0.8;
    }
  }
}
