@use "../../../vars";

.details {
  .title {
    margin-top: vars.$margin * 2;
    margin-bottom: vars.$margin;
  }
}

.helmReleaseHistory {
  :global(.TableCell) {
    &.version {
      flex-grow: 0.5;
    }

    &.status {
      flex-grow: 0.8;
    }
  }
}
