@use "../../../vars";

.KustomizationDetails {
  .title {
    margin-top: vars.$margin * 2;
    margin-bottom: vars.$margin;
  }
}

.KustomizationSubstitute {
  .TableCell {
    &.key {
      flex-grow: 0.7;
    }

    &.value {
      flex-grow: 1.3;
    }
  }
}
