.page {
  :global(.TableCell) {
    &.type {
      flex-grow: 0.5;
    }

    &.url {
      flex-grow: 1.5;
    }

    &.enabled {
      flex-grow: 0.4;
    }

    &.condition {
      flex-grow: 0.7;
    }

    &.status {
      flex-grow: 1.5;
    }

    &.age {
      flex-grow: 0.3;
    }
  }
}
