@use "../../../vars";

.title {
  margin-top: vars.$margin * 2;
  margin-bottom: vars.$margin;
}

.components {
  .component {
    margin-bottom: 1rem;
    padding: 0.5rem;
    border: 1px solid var(--borderFaintColor);
    border-radius: 4px;
  }
}

.inventory {
  .kind,
  .name,
  .namespace {
    min-width: 120px;
  }
}

.patch {
  margin-bottom: 1rem;
  padding: 0.5rem;
}

.sync {
  .syncDetails {
    margin-top: 0.5rem;
  }
}
