.page {
  :global(.TableCell) {
    &.source {
      flex-grow: 1;
    }

    &.resumed {
      flex-grow: 0.5;
    }

    &.chartVersion {
      flex-grow: 0.7;
    }

    &.appVersion {
      flex-grow: 0.7;
    }

    &.condition {
      flex-grow: 0.7;
    }

    &.status {
      flex-grow: 1.3;
    }

    &.age {
      flex-grow: 0.3;
    }
  }
}
