.page {
  :global(.TableCell) {
    &.source {
      flex-grow: 1;
    }

    &.chartVersion {
      flex-grow: 0.7;
    }

    &.appVersion {
      flex-grow: 0.7;
    }

    &.condition {
      flex-grow: 0.7;
    }

    &.message {
      flex-grow: 1.3;
    }

    &.age {
      flex-grow: 0.3;
    }
  }
}
