.page {
  :global(.TableCell) {
    &.source {
      flex-grow: 1;
    }

    &.revision {
      flex-grow: 1.3;
    }

    &.condition {
      flex-grow: 0.7;
    }

    &.message {
      flex-grow: 1.5;
    }

    &.age {
      flex-grow: 0.3;
    }
  }
}
